{% extends 'base.html' %}

{% block body-class %}blog{% endblock %}

{% block content %}

<h1>Blog</h1>


<h2>Hi</h2>
<p>9:10 AM—just got on my 8:30 bus to the airport in Costa Rica. Royal blue cloth seats, a big red-numbered digital clock, peppy Spanish music, and a looming sunburn pretty much summarize it. It’s 2017, New Year’s Day. I feel like I forget how to write, it’s been a while but I got 5 hours here so might as well get some practice in. 
<br><br>
9:19—the guy in front of me just leaned his chair back and folded my laptop closed and I’ve broken out in a sweat. I switched to the window seat and opened the window. Now I’m hassling with the dirty cloth curtain blowing in my face so that it at least doesn’t touch me. Ready to write.
<br><br>
I just spent the last 9 days in CR on vacation to spend time with family and rejuvenate before my year abroad. I stayed with my mom at my god mom’s yoga retreat, nestled away in the mountains overlooking a fertile valley and Playa Tamarindo. I probably should’ve done more yoga and drank less but hell, a break’s a break and I feel prepared to take on this new chapter of my life as a digital nomad. 
<br><br>
Ok enough literary bullshit. Sorry Mom there’s gonna be some swearing in here. Anyway, I’m really not here to write a detailed description of my day to day.  Sure there’ll be lots of cool shit going on I’m gonna write about but ultimately I’m more interested in relating experiences and more thematic posts. I'm using my upcoming journey as an excuse for starting this blog, but by no means will this be tied solely to my travels. 
<br><br>
Also in starting a blog I was a little confused on who this blog is for. I keep a private diary or whatever you wanna call it, but what changes when I switch to writing for the public eye? The world sure doesn’t need to know every thought I have, but where's the line? That’s something I guess I’ll figure out along the way. 
<br><br>
So besides me, there are a few kinds of people I guess this blog is for. Fellow remotes, hi, so excited to finally meet you all and for our year ahead. Future remotes, hey, can't officially recommend Remote Year quite yet but stay tuned! Coworkers, hi, this is a good place to better get to know me. Friends, yo, don’t forget about me pls. Family, hi, this should be a good insight into things you may not know about me. Acquaintances, hi, may we cross paths again. Randoms, welcome, hope something I have to say resonates with you.
<br><br>
 And to clue you in randoms, I am going on a year-long journey around the world with a program called Remote Year. I’m an app developer travelling around with 80 other digital nomads and going to a new city very month. First stop is Mexico City!
<br><br>
Already having a hard time deciding how much context to give and who the audience really should be. Bear with me and be prepared for this to end disastrously. Perhaps I’ll revert to just writing about my day to day, as I said I wouldn’t an hour ago. Or maybe I’ll just post some pretty pictures. Whatever happens I really don’t want to give myself any rules. 
<br><br>
10:15—just switched seats for the third time and am finally in my assigned seat. Was hoping to score my own row but that dream has ended. The guy next to me is staring down at my screen as I try to type with my elbows squeezed to my side and my forearms already sore. He’s either reading everything or marveling at a modern Macbook. 
<br><br>
So what else? Idk I’ll think of it later.
</p>
{% endblock %}
